{% extends "plantilla.twig" %}

{% block archivosAdicionales %}
{{ parent() }}
<link rel="stylesheet" href="static/css/producto.css"> <!--Se enlaza al directorio css-->
{% endblock %}

{% block desplegables %}
    <div id="desplegable">
        <div id="comentarios-submit-container">
            <div id="submit-comentario">
                <h4>Escribir comentario</h4>
                <form>
                    <label>Nombre:
                        <input type="text" class="ancho" id="nombre" placeholder="Nombre Apellidos">
                    </label>

                    <label>Correo: 
                        <input type="email" class="ancho" id="email" placeholder="ejemplo@ejemplo.org">
                    </label>

                    <label>Comentario: 
                        <textarea id="comentario-nuevo" placeholder="Introduzca el comentario"></textarea>
                    </label>
                    
                    <button type="button" id="submit">Submit</button>
                    <!--<input type="submit" id="submit">-->
                </form>
            </div>

            {% if Comentarios is not null %}            

            {% for aux in Comentarios %}
                <div class="comentario-container">
                    <div class="nombre-comentario">
                        <h4>{{ aux["Nombre"] }}</h4>
                    </div>
                    <div class="comentario-email">
                        {{ aux["Correo"] }}
                    </div>
                    <div class="fecha">
                        {{ aux["Fecha"] }}<!--12 de mayo del 2021, 13:37-->
                    </div>
                    <div class="contenido-comentario">
                        {{ aux["Texto"] }}
                    </div>
                </div>
            {% endfor %}

            {% else %}
                <p class="centrado">¡Sé el primero en comentar!</p>
            {% endif %}
            
        </div>
        <div id="menu-boton">
            <form>
                <button type="button" id="boton-comentario"><img class="foto opaco-on-hover" src="static/image/comment.png"/></button>
            </form>
        </div>
    </div> 
{% endblock %}

{% block main %}
<div class="main-producto"> <!--En esta seccion se incluye la informacion relacionada con el producto-->
    
    <!--En esta seccion se encuentra la informacion del producto (titulo, fabricante, precio)-->
    <article id="info">
        <section id="titulo"> <!--Nombre del producto-->
            <h2>{{ NombreProducto }}</h2>
        </section>
        <section> <!--Fabricante del producto-->
            <h3>{{ Fabricante }}</h3>
        </section>
        <section id="precio"> <!--Precio del producto-->
            {{ Precio }} €
        </section>

        <section id="boton-comprar">
            Comprar
        </section>
    </article>

    <div id="contenedor-imgs">
        {% if Images != false %}
            {% for img,comment in Images %}
                {% set res = comment %}
                {% if comment == '*' %}
                    {% set res = '' %}
                {% endif %}   

                <div class="img-producto">
                    <div>
                        <img src="static/image/{{ img }}"/>
                    </div>
                    <div class="centrado-vertical"> <!--Texto al pie de pagina-->
                        {{ res }}
                    </div>                          
                </div>            
            {% endfor %}
        {% endif %}
    </div>

    {% if Descripcion is not null %}
        {% for aux in Descripcion|split('\n') %}
            <p class="justificado">
                {{aux}}
            </p>
        {% endfor %}   
    {% endif %}

    {% if Tabla is not null %}
        <table>
            {% for i in Tabla|split('\n') %}
                {% if i|length > 0 %}            
                    <tr>
                    {% for j in i|split('|') %}
                        <td>
                            {{ j }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>    
    {% endif %}
    



    {% if  PaginaOficial is not null %}    
        <p>
            Enlace a la página oficial de {{ Fabricante }}: <a href="{{ PaginaOficial }}">link</a>
        </p>
    {% endif %}
    
    {% block InformacionExtra %}
        {% if Video is not null %}
        <p class="negrita">Vídeo relacionado:</p>

        <div id="video-container"> <!--Container donde se inserta un video (lo hago asi por temas de escalado)-->
            <div>
                <iframe id="video" src="{{ Video }}" title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}
        

        <p class="negrita">Redes sociales de {{ Fabricante }}</p>
        <div id="producto-rrss-container">
        {% if Facebook is not null %}
        <div>
            <a href="https://www.facebook.com/{{ Facebook }}/">
                <img src="static/image/facebook.png" alt="{{ Fabricante }} FaceBook Cuenta"/>
            </a>
        </div>
        {% endif %}
        
        {% if Twitter is not null %}    
        <div>
            <a href="https://twitter.com/{{ Twitter }}">
                <img src="static/image/twitter.png" alt="{{ Fabricante }} Twitter Cuenta"/>
            </a>
        </div>            
        {% endif %}
        
        {% if YouTube is not null %}
        <div>
            <a href="https://www.youtube.com/c/{{ YouTube }}">
                <img src="static/image/youtube.png" alt="{{ Fabricante }} YouTube Cuenta"/>
            </a>
        </div>
        {% endif %}

            <div>
                <a href="producto.php?p={{ ID }}&imprimir=1">
                    <img src="static/image/print.png" alt="Imprimir pagina"/>
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}


{% block archivosJS %}
<script src="static/js/producto.js"></script>
{% endblock %}