{% extends "formulario_plantilla.twig" %}

{% block main %}
{{ parent() }}
<!--COMPROBACIONES DE LA CONTRASEÑA CON JAVASCRIPT, Y EN EL SERVIDOR TAMBIEN, AUNQUE SEA EL HASH
HACER QUE CUANDO UNO SE DEJE VACIO, DIGA CUALES SON OBLIGATORIOS<br/><br/>-->
<div>
{#
    <div class="rojo">
        {% for aux in Errores %}
            <h2>{{ aux }}</h2>
        {% endfor %}
    </div>
#}
    {% if estaRegistrado == true %}
        <form action="edit_perfil.php?campo={{ Tipo }}" method="post" enctype="multipart/form-data">
            {% if Tipo == 1 %}
            <label>Cambiar foto de perfil</label><br/>
            <input type="file" name="Foto"/>

            {% elseif Tipo == 2 %}
            <label>Nombre</label><br/>
            <input type="text" name="Nombre"/>

            {% elseif Tipo == 3 %}
            <label>Correo nuevo</label><br/>
            <input type="text" name="Correo"/>

            {% elseif Tipo == 4 %}
            <label>Cambiar pais</label><br/>
            <select name="CountryCode">
                {% for i in Paises %}
                    <option value="{{ i["CountryCode"] }}">{{ i["CountryName"] }}</option>    
                {% endfor %}
            </select>

            {% elseif Tipo == 5 %}
            <label>Cambiar género</label><br/>
            <select name="Genero">
                <option>Hombre</option>
                <option>Mujer</option>
                <option>Otro</option>
                <option>Prefiero no decirlo</option>
            </select>

            {% elseif Tipo == 6 %}
            <label>Cambiar dirección de envío</label><br/>
            <input type="text" name="Direccion"/>

            {% elseif Tipo == 7 %}
            <label>Cambiar contraseña</label><br/>
            <input type="password" name="Password"/>
            <br/><br/>
            <label>Confirmar contraseña</label><br/>
            <input type="password" name="Password-confirm"/>
            {% endif %}

            {% if Tipo >=1 and Tipo <=7 %}
            <br/><br/>
            <button>Enviar</button>
            {% endif %}

            <input type="hidden" name="tipo" value="{{ Tipo }}"/>
        </form>
    {% endif %}
</div>
{% endblock %}