{% extends "formulario_plantilla.twig" %}

{% block archivosAdicionales %}
{{ parent() }}
<link rel="stylesheet" href="static/css/perfil.css">
{% endblock %}

{% block main %}
{{ parent() }}

{% if Errores == -1 %}
<h1 class="rojo">No estás registrado</h1>

{% else %}
<div id="div-info-perfil">
    <div id="foto-perfil-div">
        <img src="static/images/placeholder.png"/>
    </div>
        <a href="edit_perfil.php?campo=1">Cambiar foto</a>

    <div id="info-texto">
        <div>
            <div class="break">
                <strong>Nombre:</strong> {{ Credenciales["Nombre"] }}
            </div>

            <div class="boton">
                <a href="edit_perfil.php?campo=2">Cambiar</a>
            </div>
        </div>

        <div>
            <div class="break">
                <strong>Correo:</strong> {{ Credenciales["Correo"] }}
            </div>

            <div class="boton">
                <a href="edit_perfil.php?campo=3">Cambiar</a>
            </div>
        </div>

        <div>
            <div class="break">
                <strong>Pais:</strong> {{ Credenciales["Pais"] }}
            </div>

            <div class="boton">
                <a href="edit_perfil.php?campo=4">Cambiar</a>
            </div>            
        </div>

        <div>
            <div class="break">
                <strong>Género:</strong> {{ Credenciales["Genero"] }}
            </div>

            <div class="boton">
                <a href="edit_perfil.php?campo=5">Cambiar</a>
            </div>            
        </div>

        <div>
            <div class="break">
                <strong>Dirección de envío:</strong> {{ Credenciales["Direccion"] }}
            </div>

            <div class="boton">
                <a href="edit_perfil.php?campo=6">Cambiar</a>
            </div>            
        </div>

        <div>
            <div class="break">
                <strong>Tipo de cuenta:</strong> {{ Tipo }}
            </div>

            <div class="boton">
            </div>            
        </div>
    </div>
        <div class="centrado">
            <a href="edit_perfil.php?campo=7">Cambiar contraseña</a>
        </div>

        <div id="logout-div" class="centrado">
            <a href="destruir_cookies.php?back=index.php">Cerrar sesión</a>
        </div>
</div>
{% endif %}
{% endblock %}