{% extends "formulario_plantilla.twig" %}

{% block archivosAdicionales %}
{{ parent() }}
<link rel="stylesheet" href="static/css/edit_product.css">
{% endblock %}

{% block main %}
{{ parent() }}

{% if EsGestor == true %}
<form action="edit_product.php?id={{ ProductID }}" method="post" enctype="multipart/form-data">
    <label>Precio</label><br/>
    <input type="text" name="precio" value="{{ Producto["Precio"] }}"/>
    <br/><br/>

    <label>Nombre del producto</label><br/>
    <input type="text" name="nombre" value="{{ Producto["Nombre"] }}"/>
    <br/><br/>

    <label>Descripción del producto (se puede usar HTML)</label><br/>
    <textarea class="no-resize" name="descripcion">{{ Producto["Descripción"] }}</textarea>
    <br/><br/>

    <label>Título de la página (nombre de la pestaña)</label><br/>
    <input type="text" name="titulo-top" value="{{ Producto["Titulo pagina"] }}"/>
    <br/><br/>

    <label>Fabricante del producto</label><br/>
    <select name="fabricante">
        {% for aux in Fabricantes %}
            {% if aux == Producto["Nombre_Fabricante"] %}
                <option selected>{{ aux|raw }}</option>

            {% else %}
                <option>{{ aux|raw }}</option>
            {% endif %}
            
        {% endfor %}
    </select>
    <br/><br/>

    <label>Etiquetas (separadas por coma y sin espacio)</label><br/>
    <input type="text" name="etiquetas"/>
    <br/><br/>

    {% if Etiquetas != false %}
    <label>Eliminar etiquetas</label>
    <br/>
        <div id="del-etiquetas-container">
            {% for aux in Etiquetas %}
                <div>
                    <input type="checkbox" name="eliminar-etiqueta_{{aux["Nombre"]}}"/>
                    <label>{{ aux["Nombre"] }}</label>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!--Poner para añadir/eliminar imagenes-->
    <label>Añadir imágenes</label><br/>
    <input type="file" name="imagenes[]" multiple>
    <br/><br/>

    {# Hacer un if para que si no haya imagenes no aparezca #}
    {% if Imagenes != false %}
    <label>Eliminar imágenes (seleccione para eliminar)</label><br/>
        <div class="foto-eliminar-container">
            {% for aux in Imagenes %}
                <div class="foto-eliminar">
                    <div>
                        <img src="{{ aux["Ruta Imagen"] }}" alt="imagen">
                    </div>
                    <div>
                        <input type="checkbox" name="imagen-eliminar_{{ aux["ID_Imagen"]  }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <input type="checkbox" name="publicar"/>
    <label>Publicar</label>
    <br/><br/>

    <button>Enviar</button>

    <input type="hidden" name="back" value="{{ Back }}"/>
    <input type="hidden" name="product-id" value="{{ ProductID }}"/>
</form>
{% endif %}
{% endblock %}