{% extends "formulario_plantilla.twig" %}

{% block archivosAdicionales %}
{{ parent() }}
<link rel="stylesheet" href="static/css/editar_comentario.css">
{% endblock %}

{% block main %}
{{ parent() }}

{% if ErrorStatus == 0 %}
    <form action="edit.php" method="post">
        <label>Comentario</label><br/>
        <textarea id="caja-comentario" name="comentario">{{ Comentario }}</textarea><br/><br/>
        <button>Enviar</button>

        <input type="hidden" name="back" value="{{ BackID }}"/>
        <input type="hidden" name="idComentario" value="{{ idComentario }}"/>
    </form>
{% endif %}
{% endblock %}